<form action="/add" method="Post">
<p>Sala:</p>
<input type="text" name="sala">
<p>titulo</p>
<input type="text" name="titulo">
<p>cadastro</p>
<input type="text" name="cadastro">
<p>sinopse</p>
<textarea name="sinopse"></textarea>
<button type="Enviar">Casdatro Filmes</button>
</form>

